.navbar-custom {
    background-color: #F8F8F8;
    color: #000;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color: #000;
}

.navbar-custom .navbar-nav > .active > a {
    color: #000;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #424242;
    color: #fff;
}

.navbar-custom .navbar-brand {
    color: #eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color: #eeeeee;
}
.navbar-custom .icon-bar {
    background-color: #212121;
}

#query-search {
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
  padding: 20px 15px 15px;
  text-align: center;
  width: 100%;
}


.carousel-control.left, .carousel-control.right {
    background-image: none
}

#imaginary_container{
	margin-bottom: 10px;
	margin-top: 20px;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.data-list {
   list-style-type: none; 
   overflow: hidden;
   padding: 0; 
   margin: 0;
}

.data-list li{
   float: left;
   margin-left: 4%;
}

.footer {
	margin-top: 0px;
	margin-bottom: 10px;
	padding-top: 15px;
	display: inline-block;
	font-size: -1;
}

.tag  {
   font-size: 15px;
	line-height: 10px;
	color: rgba(0,0,0,0.87);
	border: 1px solid #e0e0e0;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 3px 8px;
	display: inline-block;
	cursor: pointer;
	transition: border-color .2s ease-in-out;
}


@media only screen and (min-width: 501px) {
   .footer {
		margin-left: 10%;
	}
}

@media only screen and (max-width: 500px) {
   .footer {
		margin-left: 0%;
	}
	.navbar-right {
		margin-top: 50px;
	}
}

<!--search box-->

.top-navbar {
  background: #2e2e2e none repeat scroll 0 0;
  color: #000;
}

.search-box {
  width: 250px;
  cursor: pointer;
  margin: 0 auto;
  border: .5px solid rgb(232, 238, 241);
  border-radius: 28px;
  /* color: rgb(119, 126, 128); */
  color: #000;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: #fff;
}

.search-icon {
  width: 250px;
  padding: 5px;
  border-radius: 24px;
  float: right;
}
.inner-addon { 
  position: relative; 
}
/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 13px;
  margin-right: 10px;
}

.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#noti-holder {
	position: fixed;
	top: 50px;
	right: 270px;
}

.right-nav-sidebar {
}

.card {
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    color: #4f5256;
    border: 1px solid #f2f2f2;
    margin-bottom: 16px;
    background:#fff;
    max-width: 270px;
}

.card-body {
	position: relative; padding: 16px;
}

.article-shadow-shade {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.014);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.014);
}

.tag-shadow-shade {
 	-webkit-box-shadow: 0 8px 10px -5px rgba(0,0,0,.14), 0 16px 24px 2px rgba(0,0,0,.098), 0 6px 30px 5px rgba(0,0,0,.014);
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.14), 0 16px 24px 2px rgba(0,0,0,.098), 0 6px 30px 5px rgba(0,0,0,.014);
}
